.cardSecond {
  border: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.price2edcard {
  text-align: center;
  color: #c3c1c5;
}

.cardSecond-title {
  color: var(--font-secondary-variation-darker);
  font-size: 1.4rem;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cardSecond-text {
  display: inline;
  color: var(--font-primary-variation-light);
}

.icons-2ed-card {
  display: inline-block;
  margin-left: auto;
  position: absolute;
  top: 0.1rem;
  left: 14rem;
  z-index: 10;
}
